.gradle\
eclipse\
bin\
.settings\
build\
gradle\
.classpath
*.class
*.jar
.project
*.snap
*.resources
*.prefs
*.running
*.xml
*.zip
eclipse/.metadata/.mylyn/.tasks.xml.zip
eclipse/.metadata/.mylyn/tasks.xml.zip
eclipse/.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
eclipse/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.prefs
eclipse/.metadata/.plugins/org.eclipse.jdt.core/externalLibsTimeStamps
eclipse/.metadata/.plugins/org.eclipse.jdt.core/savedIndexNames.txt
*.zip
eclipse/.metadata/.mylyn/.taskListIndex/segments_1
*.index
*.markers
*.index
*.resources
*.prefs
*.launch
*.xml
*.index
eclipse/.metadata/.plugins/org.eclipse.jdt.core/externalLibsTimeStamps
eclipse/.metadata/.plugins/org.eclipse.jdt.core/savedIndexNames.txt
*.history
*.properties
*.xml
*.cfg
eclipse/crash-reports/crash-2014-09-01_13.44.52-client.txt
eclipse/crash-reports/crash-2014-09-01_13.48.09-client.txt
eclipse/crash-reports/crash-2014-09-01_13.49.31-client.txt
eclipse/crash-reports/crash-2014-09-01_13.56.16-client.txt