.gradle\
eclipse\
bin\
.settings\
build\
gradle\
.classpath
*.class
*.jar
.project
*.snap
*.resources
*.prefs
*.running
*.xml
*.zip
eclipse/.metadata/.mylyn/.tasks.xml.zip
eclipse/.metadata/.mylyn/tasks.xml.zip
eclipse/.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
eclipse/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.prefs
eclipse/.metadata/.plugins/org.eclipse.jdt.core/externalLibsTimeStamps
eclipse/.metadata/.plugins/org.eclipse.jdt.core/savedIndexNames.txt